:root {
  /* Primary Colors */
  --color-blue-200: hsl(193, 38%, 86%);
  --color-green-300: hsl(150, 100%, 66%);

  /* Neutral Colors */
  --color-blue-600: hsl(217, 19%, 38%);
  --color-blue-900: hsl(217, 19%, 24%);
  --color-blue-950: hsl(218, 23%, 16%);

  /* Typography */
  --font-family-main: 'Manrope', sans-serif;
  --font-weight-bold: 800;
  --font-size-quote: 28px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--font-family-main);
    background-color: var(--color-blue-950);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advice-container{
    position: relative;
    border-radius: 10px;
    background-color: var(--color-blue-900);
    width: 40%;
    height: 45%;
    min-width: 600px;
    padding: 40px 50px;
    text-align: center;
    justify-content: center;
}

.advice-container h5{
    color: var(--color-green-300);
    letter-spacing: 4px;
    font-size: .7em;
}

.advice-container .para {
    max-height: 100%;
    padding: 20px;
}

.advice-container .para p{
    color: var(--color-blue-200);
    font-size: var(--font-size-quote);
    margin-top: 10px;
}

.advice-container .divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.dice-button {
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-green-300);
    border: none;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.dice-button img{
    width: 24px;
    height: 24px;
}

.dice-button:hover,
.dice-button:active {
    box-shadow: 0 0 25px var(--color-green-300);
}

.attribution {
    position: fixed;
    bottom: 10px;
    left: 50%;
    font-size: 11px;
    text-align: center;
    transform: translateX(-50%);
    color: var(--color-blue-200);
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px){

    .advice-container{
        min-width: unset;
        max-width: 350px;
        width: 350px;
        height: 300px;
        position: relative;
    }

    .advice-container .para {
        padding: 20px 0;
        max-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .advice-container .para p,q{
        font-size: 1.2em; 
        margin-top: -5px;
    }

    .advice-container .divider {
        position: absolute;
        bottom: 46px; 
        left: 50%;
        transform: translateX(-50%);
        margin: 0; 
    }

    .advice-container .divider img {
        content: url("images/pattern-divider-mobile.svg");
        width: 90%;
        max-width: 295px;
        height: auto;
    }
}

@media (max-width: 620px) {
    body{
        overflow: hidden;
    }
        :root{
            --font-size-quote: 1.2em;
        }

        .advice-container {
            min-width: unset;
            width: 90%;
            max-width: 90vw;
            padding: 30px 20px;
        }

        .advice-container .divider img{
            width: 85%;
        }
}